@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
::placeholder {
  color: white;
}

.mainPage {
  background: url("./assets/daoudi-aissa-Pe1Ol9oLc4o-unsplash.jpg") no-repeat
    center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Search Bar Start */
.searchBarIcon {
  margin-left: 6px;
}

.searchBar {
  border: none;
  height: 24px;
  margin-left: 6px;
  background: none;
  color: white;
  outline: none;
  width: 256px;
}

.searchBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.suggestionBox {
  position: absolute;
  top: 100%;
  left: 0;
  width: 280px;
  cursor: pointer;
  background-color: #8cd2ce;
  border-radius: 24px;
  padding: 6px;
}

.suggestionBox div:hover {
  border-radius: 24px;
  color: white;
}
/* Search Bar End */

/* Language Change Button Start */
.selectButton {
  color: white;
  backdrop-filter: blur(10px) saturate(130%);
  background-color: #b8b7b7;
  border: none;
  border-radius: 24px;
  height: 38px;
  padding: 6px;
  outline: none;
  -webkit-appearance: none; /* Chrome, Safari, Opera */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* Standart */
}

.selectIcon {
  margin-right: 6px;
}
/*Language Change Button End*/

/* Temperature Switch Start*/
.switch-container {
  width: 64px; /* Adjust width as needed */
  height: 38px; /* Adjust height as needed */
  margin-left: 56px;
  backdrop-filter: blur(10px) saturate(130%);
  background: rgba(140, 210, 206, 0.47);
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
  transition: background-color 0.3s ease;
}

.switch-circle {
  width: 36px; /* Circle size */
  height: 36px; /* Circle size */
  backdrop-filter: blur(10px) saturate(130%);
  background-color: #b8b7b7;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;

  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.celsius-active .switch-circle {
  transform: translateX(0); /* Stay on the left for Celsius */
}

.fahrenheit-active .switch-circle {
  transform: translateX(25px); /* Move to the right for Fahrenheit */
}

.temperature-label {
  width: 50%; /* Label width */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff; /* Label text color */
  font-weight: bold;
  transition: color 0.3s ease;
}

.celsius-active .celsius,
.fahrenheit-active .fahrenheit {
  color: #000; /* Active label text color */
}
/* Temperature Switch End*/

.dateContainer {
  margin-left: 6%;
}

.dateText {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
  color: white;
  margin-top: 24px;
}
.weatherInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: white;
}

.weatherInfoTitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.6);
}

.weatherInfoSubTitle {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.6);
}

.weatherHourlyCardContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  align-self: center;
  margin-top: 12px;
  margin-left: 12px;
}

.weatherCardText {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 6px;
}

.weatherHourlyCard {
  border-radius: 16px;
  background: #cdcdcd;
  padding: 22px 0;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 36px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.swiper-pagination-bullet-active {
  background-color: #8cd2ce !important;
}

/* Chrome, Safari, Edge */
.weatherHourlyCardContainer::-webkit-scrollbar {
  width: 10px;
  left: -100px;
}

.weatherHourlyCardContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.weatherHourlyCardContainer::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.weatherHourlyCardContainer::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

.weatherHourlyCardContainer::-webkit-scrollbar-button {
  display: none; /* This will remove the buttons */
}

/* Firefox */
.weatherHourlyCardContainer {
  scrollbar-width: thin; /* "auto", "thin", or "none" */
  scrollbar-color: #888 #f1f1f1; /* thumb and track color */
}

.cityCard {
  background: rgba(98, 96, 96, 0.47);
  backdrop-filter: blur(6.900000095367432px);
}

.add-city-card {
  border: dashed 2px #fff;
  border-radius: 24px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background: rgba(98, 96, 96, 0.47);
  backdrop-filter: blur(6.900000095367432px);
  color: white;
  font-size: 24px;
  margin-right: 12px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  height: 220px;
  width: 148px;
}

.plus-icon {
  font-size: 24px;
  color: yellow;
  margin-right: 10px;
}

.add-city-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-city-text {
  color: white;
  font-weight: bold;
}

.weather-forecast {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  height: 300px;
}

.city-list {
  display: flex;
  justify-content: flex-start;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background: rgba(98, 96, 96, 0.47);
  backdrop-filter: blur(6.900000095367432px);
}

.add-city-modal {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.addCityInput {
  border: none;
  border-radius: 12px;
  height: 32px;
  margin-bottom: 12px;
}

.addCityButton {
  background-color: #8cd2ce;
  font-size: 24px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  margin-bottom: 12px;
  border-radius: 12px;
  border: none;
}

.modalCloseBtn {
  background-color: rgb(184, 17, 17);
  font-size: 18px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  border: none;
}

.city-card {
  background: rgba(98, 96, 96, 0.47);
  backdrop-filter: blur(6.900000095367432px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  color: white;
  margin-right: 12px;
  height: 220px;
  align-self: flex-start;
  width: 148px;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.forecastContainer {
  margin-left: 6%;
  margin-right: 6%;
}

.forecastTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
  color: white;
  margin-top: 24px;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.6);
}

.forecastTitleDays {
  background-color: #8cd2ce; /* Active background color for buttons */
  border-radius: 30px;
  padding: 12px;
  font-size: 16px;
  font-weight: 300;

  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.forecastWeatherContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-radius: 12px;
  background: #626060;
  margin-bottom: 12px;
  padding: 3px 6px;
}

.forecastWeatherMaxTemp {
  font-size: 16px;
  font-weight: 500;
  margin-right: 3px;
  margin-left: 8px;
}

.forecastWeatherMinTemp {
  font-size: 12px;
  font-weight: 300;
}

.forecastWeatherTempContainer {
  display: flex;
  align-items: center;
}

.weatherMainPageContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 12px;
}

.weatherMainPageLeftContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.weatherMainPageRightContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.weatherGraphsTitleBtnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weatherGrapsTitleContainer {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  padding: 5%;
  color: white;
}
.weatherGrapsButtonContainer {
  background-color: #626060; /* This is the container's background */
  border-radius: 20px;
  margin-right: 5%;
}
.weatherGraphsButton {
  background-color: transparent; /* Default background for buttons */
  color: #fff; /* Default text color for buttons */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  /* Additional styles */
  border-radius: 20px; /* Rounded corners for buttons */
  outline: none; /* Remove outline */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for color and background */

  font-size: 16px;
  font-weight: 300;
}

.weatherGraphsButton.active {
  background-color: #8cd2ce; /* Active background color for buttons */
  color: #fff; /* Active text color for buttons */
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.removeBtn {
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  background-color: #8cd2ce;
  margin-top: 12px;
  transition: ease-out 0.3s;
}

.removeBtn:hover {
  background-color: rgb(184, 17, 17);
}
