@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: white;
}

.mainPage {
  background: url("/public/daoudi-aissa-Pe1Ol9oLc4o-unsplash.jpg") no-repeat
    center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Search Bar Start */
.searchIcon {
  margin-left: 6px;
  font-size: 24px;
}

.searchBar {
  border: none;
  height: 48px;
  margin-left: 16px;
  background: none;
  color: white;
  outline: none;
  width: 480px;
  font-size: 24px;
}

.searchBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.suggestionBox {
  position: absolute;
  top: 100%;
  left: 0;
  width: 496px;
  cursor: pointer;
  background-color: #8cd2ce;
  border-radius: 24px;
  padding: 6px;
  font-size: 24px;
}

.suggestionBox div:hover {
  border-radius: 24px;
  color: white;
}
/* Search Bar End */

/* Temperature Switch Start*/
.switch-container {
  width: 96px;
  height: 64px;
  margin-left: 96px;
  margin-right: 12px;
  backdrop-filter: blur(10px) saturate(130%);
  background: rgba(140, 210, 206, 0.47);
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
  font-size: 24px;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
  transition: background-color 0.3s ease;
}

.switch-circle {
  width: 48px; /* Circle size */
  height: 60px; /* Circle size */
  backdrop-filter: blur(10px) saturate(130%);
  background-color: #b8b7b7;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;

  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.celsius-active .switch-circle {
  transform: translateX(0); /* Stay on the left for Celsius */
}

.fahrenheit-active .switch-circle {
  transform: translateX(50px); /* Move to the right for Fahrenheit */
}

.temperature-label {
  width: 50%; /* Label width */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: color 0.3s ease;
}

.celsius-active .celsius,
.fahrenheit-active .fahrenheit {
  color: #fff; /* Active label text color */
}
/* Temperature Switch End*/

/*Weather Main Page Container Start*/
.weatherMainPageContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 36px;
}

.weatherMainPageLeftContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.weatherMainPageRightContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
/*Weather Main Page Container End*/

/*Weather Date Container Start*/
.dateContainer {
  margin-left: 5%;
}

.dateText {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 3%;
  color: white;
  margin-top: 3%;
}
/*Weather Date Container End*/

/*Weather Components Start*/
.weatherInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: white;
}

.weatherInfoTitle {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.6);
}

.weatherInfoSubTitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.6);
}

.weatherInfoImg {
  width: 112px;
}

.weatherHourlyCardContainer {
  width: 100%;
}

.weatherCardText {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 6px;
}

.weatherCardImg {
  width: 84px;
}

.weatherHourlyCard {
  border-radius: 16px;
  background: #cdcdcd;
  padding: 22px 0;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 36px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.swiper-pagination-bullet-active {
  background-color: #8cd2ce !important;
}
/*Weather Components End*/

/*Weather Graphs Component Start*/
.weatherGraphsTitleBtnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.weatherGrapsTitleContainer {
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  padding: 5%;
  color: white;
}

.weatherGrapsButtonContainer {
  background-color: #626060;
  border-radius: 32px;
  margin-right: 5%;
}

.weatherGraphsButton {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 32px;
  outline: none;
  transition: background-color 0.3s, color 0.3s;

  font-size: 28px;
  font-weight: 300;
}

.weatherGraphsButton.active {
  background-color: #8cd2ce;
  color: #fff;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
/*Weather Graphs Component End*/

/*Foreacast Component Start*/
.forecastContainer {
  margin-top: 1%;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 3%;
}

.forecastTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 12px;
  color: white;
  margin-top: 24px;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.6);
}

.forecastTitleDays {
  background-color: #8cd2ce;
  border-radius: 30px;
  padding: 12px;
  font-size: 28px;
  font-weight: 300;

  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.forecastWeatherContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-radius: 12px;
  background: #626060;
  margin-bottom: 12px;
  padding: 3px 6px;
}

.forecastWeatherImg {
  width: 90px;
}

.forecastWeatherMaxTemp {
  font-size: 36px;
  font-weight: 500;
  margin-right: 3px;
  margin-left: 8px;
}

.forecastWeatherMinTemp {
  font-size: 24px;
  font-weight: 300;
}

.forecastWeatherTempContainer {
  display: flex;
  align-items: center;
}

.forecastWeatherDate {
  font-size: 24px;
}
/*Foreacast Component End*/

/*City Card Start*/

.add-city-card {
  display: flex;
  justify-content: center;
  border: dashed 2px #fff;
  border-radius: 24px;
  text-align: center;
  cursor: pointer;
  background: rgba(98, 96, 96, 0.47);
  backdrop-filter: blur(6.900000095367432px);
  color: white;
  font-size: 36px;
  height: 240px;
  width: 160px;
  margin-left: 6px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.plus-icon {
  font-size: 36px;
  color: yellow;
  border: dashed 2px #fff;
  border-radius: 640px;
  padding: 4px 14px;
  margin-bottom: 6px;
  font-weight: 900;
}

.plus-icon:hover {
  background-color: #8cd2ce;
}

.add-city-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-city-text {
  color: black;
  font-weight: bold;
}

.city-card {
  background: rgba(98, 96, 96, 0.47);
  backdrop-filter: blur(6.900000095367432px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  color: white;
  height: 220px;
  align-self: flex-start;
  width: 168px;
  padding: 12px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.cityWeatherName {
  font-size: 32px;
}

.cityWeatherDegree {
  font-size: 24px;
  font-weight: 100;
}

.cityWeatherIconImg {
  width: 96px;
}

.citySlider {
  margin-top: 32px;
  margin-bottom: 32px;
}

.removeBtn {
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  background-color: #8cd2ce;
  margin-top: 12px;
  transition: ease-out 0.3s;
  width: 24px;
  height: 24px;
}

.removeBtn:hover {
  background-color: rgb(184, 17, 17);
}

/*City Card End*/

/*Modal Start*/
.modalContent {
  background: white;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(98, 96, 96, 0.47);
  backdrop-filter: blur(6.900000095367432px);
}

.addCityInput {
  border: none;
  border-radius: 12px;
  height: 32px;
  margin-bottom: 12px;
  padding: 12px;
  font-size: 32px;
}

.modalButtonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.modalAddCityBtn {
  background-color: #8cd2ce;
  font-weight: 500;
  color: white;
  cursor: pointer;
  border-radius: 64px;
  border: none;
  font-size: 24px;
  padding: 6px 6px 2px 6px;
}

.modalCloseBtn {
  background-color: rgb(184, 17, 17);
  font-weight: 500;
  color: white;
  cursor: pointer;
  border-radius: 64px;
  border: none;
  font-size: 24px;
  padding: 6px 6px 2px 6px;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/*Modal End*/

@media only screen and (max-width: 600px) {
  .addCityInput {
    border: none;
    border-radius: 12px;
    height: 32px;
    margin-bottom: 12px;
    padding: 6px;
    font-size: 18px;
  }

  .modalContent {
    background: white;
    padding: 20;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(98, 96, 96, 0.47);
    backdrop-filter: blur(6.900000095367432px);
  }

  .searchIcon {
    margin-left: 6px;
    font-size: 16px;
  }

  .searchBar {
    height: 24px;
    margin-left: 12px;
    width: 142px;
    font-size: 16px;
  }

  .suggestionBox {
    top: 100%;
    width: 172px;
    font-size: 16px;
  }

  .switch-container {
    width: 58px;
    height: 32px;
    font-size: 16px;
  }

  .switch-circle {
    width: 32px;
    height: 30px;
  }

  .celsius-active .switch-circle {
    transform: translateX(0);
  }

  .fahrenheit-active .switch-circle {
    transform: translateX(25px);
  }

  .dateText {
    font-size: 16px;
  }

  .weatherMainPageContainer {
    flex-direction: column;
    width: 100%;
  }

  .weatherMainPageLeftContainer {
    width: 100%;
  }

  .weatherMainPageRightContainer {
    width: 100%;
    margin-top: 5%;
  }

  .weatherInfoImg {
    width: 48px;
  }

  .weatherInfoTitle {
    font-size: 16px;
  }

  .weatherInfoSubTitle {
    font-size: 12px;
  }

  .weatherHourlyCardContainer {
    width: 100%;
    margin-top: 12px;
    margin-left: 12px;
  }

  .weatherCardText {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 6px;
  }

  .weatherCardImg {
    width: 64px;
  }

  .weatherHourlyCard {
    border-radius: 16px;
    background: #cdcdcd;
    padding: 22px 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 36px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .weatherGrapsTitleContainer {
    font-size: 16px;
    width: 40%;
  }

  .weatherGrapsButtonContainer {
    background-color: #626060;
    border-radius: 20px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .weatherGraphsButton {
    font-size: 12px;
    padding: 4px 4px;
  }

  .forecastTitleContainer {
    font-size: 16px;
  }

  .forecastTitleDays {
    font-size: 12px;
  }

  .forecastWeatherImg {
    width: 64px;
  }
  .forecastWeatherMaxTemp {
    font-size: 16px;
  }

  .forecastWeatherMinTemp {
    font-size: 12px;
  }

  .forecastWeatherDate {
    font-size: 12px;
  }

  .add-city-card {
    font-size: 16px;
    height: 180px;
    width: 138px;
    margin-left: 0;
    margin-right: 26px;
  }

  .plus-icon {
    font-size: 16px;
    border-radius: 64px;
    padding: 4px 8px;
  }

  .city-card {
    align-self: flex-start;
    height: 160px;
    width: 120px;
    padding: 12px;
  }

  .cityWeatherName {
    font-size: 16px;
  }

  .cityWeatherDegree {
    font-size: 12px;
  }

  .cityWeatherIconImg {
    width: 64px;
  }

  .citySlider {
    margin-bottom: 12px;
  }

  .removeBtn {
    margin-top: 6px;
    width: 12px;
    height: 12px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .searchIcon {
    margin-left: 6px;
    font-size: 16px;
  }

  .searchBar {
    height: 24px;
    margin-left: 12px;
    width: 142px;
    font-size: 16px;
  }

  .suggestionBox {
    top: 100%;
    width: 172px;
    font-size: 16px;
  }

  .switch-container {
    width: 58px;
    height: 32px;
    font-size: 16px;
  }

  .switch-circle {
    width: 32px;
    height: 30px;
  }

  .celsius-active .switch-circle {
    transform: translateX(0);
  }

  .fahrenheit-active .switch-circle {
    transform: translateX(25px);
  }

  .dateText {
    font-size: 16px;
  }

  .weatherMainPageContainer {
    flex-direction: column;
    width: 100%;
  }

  .weatherMainPageLeftContainer {
    width: 100%;
  }

  .weatherMainPageRightContainer {
    width: 100%;
    margin-top: 5%;
  }

  .weatherInfoImg {
    width: 48px;
  }

  .weatherInfoTitle {
    font-size: 16px;
  }

  .weatherInfoSubTitle {
    font-size: 12px;
  }

  .weatherHourlyCardContainer {
    width: 100%;
    margin-top: 12px;
    margin-left: 12px;
  }

  .weatherCardText {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 6px;
  }

  .weatherCardImg {
    width: 64px;
  }

  .weatherHourlyCard {
    border-radius: 16px;
    background: #cdcdcd;
    padding: 22px 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 36px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .weatherGrapsTitleContainer {
    font-size: 16px;
    width: 40%;
  }

  .weatherGrapsButtonContainer {
    background-color: #626060;
    border-radius: 20px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .weatherGraphsButton {
    font-size: 12px;
    padding: 4px 4px;
  }

  .forecastTitleContainer {
    font-size: 16px;
  }

  .forecastTitleDays {
    font-size: 12px;
  }

  .forecastWeatherImg {
    width: 64px;
  }
  .forecastWeatherMaxTemp {
    font-size: 16px;
  }

  .forecastWeatherMinTemp {
    font-size: 12px;
  }

  .forecastWeatherDate {
    font-size: 12px;
  }

  .add-city-card {
    font-size: 16px;
    height: 180px;
    width: 138px;
    margin-left: 0;
    margin-right: 26px;
  }

  .plus-icon {
    font-size: 16px;
    border-radius: 64px;
    padding: 4px 8px;
  }

  .city-card {
    align-self: flex-start;
    height: 160px;
    width: 120px;
    padding: 12px;
  }

  .cityWeatherName {
    font-size: 16px;
  }

  .cityWeatherDegree {
    font-size: 12px;
  }

  .cityWeatherIconImg {
    width: 64px;
  }

  .citySlider {
    margin-bottom: 12px;
  }

  .removeBtn {
    margin-top: 6px;
    width: 12px;
    height: 12px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .searchIcon {
    margin-left: 6px;
    font-size: 16px;
  }

  .searchBar {
    height: 24px;
    margin-left: 12px;
    width: 142px;
    font-size: 16px;
  }

  .suggestionBox {
    top: 100%;
    width: 172px;
    font-size: 16px;
  }

  .switch-container {
    width: 58px;
    height: 32px;
    font-size: 16px;
  }

  .switch-circle {
    width: 32px;
    height: 30px;
  }

  .celsius-active .switch-circle {
    transform: translateX(0);
  }

  .fahrenheit-active .switch-circle {
    transform: translateX(25px);
  }

  .dateText {
    font-size: 16px;
  }

  .weatherMainPageContainer {
    flex-direction: column;
    width: 100%;
  }

  .weatherMainPageLeftContainer {
    width: 100%;
  }

  .weatherMainPageRightContainer {
    width: 100%;
    margin-top: 5%;
  }

  .weatherInfoImg {
    width: 48px;
  }

  .weatherInfoTitle {
    font-size: 16px;
  }

  .weatherInfoSubTitle {
    font-size: 12px;
  }

  .weatherHourlyCardContainer {
    width: 100%;
    margin-top: 12px;
    margin-left: 12px;
  }

  .weatherCardText {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 6px;
  }

  .weatherCardImg {
    width: 64px;
  }

  .weatherHourlyCard {
    border-radius: 16px;
    background: #cdcdcd;
    padding: 22px 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 36px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .weatherGrapsTitleContainer {
    font-size: 16px;
    width: 40%;
  }

  .weatherGrapsButtonContainer {
    background-color: #626060;
    border-radius: 20px;
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .weatherGraphsButton {
    font-size: 12px;
    padding: 4px 4px;
  }

  .forecastTitleContainer {
    font-size: 16px;
  }

  .forecastTitleDays {
    font-size: 12px;
  }

  .forecastWeatherImg {
    width: 64px;
  }
  .forecastWeatherMaxTemp {
    font-size: 16px;
  }

  .forecastWeatherMinTemp {
    font-size: 12px;
  }

  .forecastWeatherDate {
    font-size: 12px;
  }

  .add-city-card {
    font-size: 16px;
    height: 180px;
    width: 138px;
    margin-left: 0;
    margin-right: 26px;
  }

  .plus-icon {
    font-size: 16px;
    border-radius: 64px;
    padding: 4px 8px;
  }

  .city-card {
    align-self: flex-start;
    height: 160px;
    width: 120px;
    padding: 12px;
  }

  .cityWeatherName {
    font-size: 16px;
  }

  .cityWeatherDegree {
    font-size: 12px;
  }

  .cityWeatherIconImg {
    width: 64px;
  }

  .citySlider {
    margin-bottom: 12px;
  }

  .removeBtn {
    margin-top: 6px;
    width: 12px;
    height: 12px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .searchIcon {
    margin-left: 6px;
    font-size: 16px;
  }

  .searchBar {
    height: 24px;
    margin-left: 12px;
    width: 142px;
    font-size: 16px;
  }

  .suggestionBox {
    top: 100%;
    width: 172px;
    font-size: 16px;
  }

  .switch-container {
    width: 58px;
    height: 32px;
    font-size: 16px;
  }

  .switch-circle {
    width: 32px;
    height: 30px;
  }

  .celsius-active .switch-circle {
    transform: translateX(0);
  }

  .fahrenheit-active .switch-circle {
    transform: translateX(25px);
  }

  .dateText {
    font-size: 16px;
  }

  .weatherInfoImg {
    width: 48px;
  }

  .weatherInfoTitle {
    font-size: 16px;
  }

  .weatherInfoSubTitle {
    font-size: 12px;
  }

  .weatherHourlyCardContainer {
    width: 100%;
    margin-top: 12px;
    margin-left: 12px;
  }

  .weatherCardText {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 6px;
  }

  .weatherCardImg {
    width: 64px;
  }

  .weatherHourlyCard {
    border-radius: 16px;
    background: #cdcdcd;
    padding: 22px 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 36px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .weatherGrapsTitleContainer {
    font-size: 16px;
    width: 40%;
  }

  .weatherGrapsButtonContainer {
    background-color: #626060;
    border-radius: 20px;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .weatherGraphsButton {
    font-size: 12px;
    padding: 4px 4px;
  }

  .forecastTitleContainer {
    font-size: 16px;
  }

  .forecastTitleDays {
    font-size: 12px;
  }

  .forecastWeatherImg {
    width: 64px;
  }
  .forecastWeatherMaxTemp {
    font-size: 16px;
  }

  .forecastWeatherMinTemp {
    font-size: 12px;
  }

  .forecastWeatherDate {
    font-size: 12px;
  }

  .add-city-card {
    font-size: 16px;
    height: 180px;
    width: 138px;
    margin-left: 0;
    margin-right: 26px;
  }

  .plus-icon {
    font-size: 16px;
    border-radius: 64px;
    padding: 4px 8px;
  }

  .city-card {
    align-self: flex-start;
    height: 160px;
    width: 120px;
    padding: 12px;
    margin-bottom: 12px;
  }

  .cityWeatherName {
    font-size: 16px;
  }

  .cityWeatherDegree {
    font-size: 12px;
  }

  .cityWeatherIconImg {
    width: 64px;
  }

  .citySlider {
    margin-bottom: 12px;
  }

  .removeBtn {
    margin-top: 6px;
    width: 12px;
    height: 12px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 2000px) {
  .dateText {
    font-size: 32px;
  }

  .weatherInfoImg {
    width: 56px;
  }

  .weatherInfoTitle {
    font-size: 24px;
  }

  .weatherInfoSubTitle {
    font-size: 16px;
  }

  .weatherHourlyCardContainer {
    margin-top: 12px;
    margin-left: 12px;
  }

  .weatherCardText {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 6px;
  }

  .weatherCardImg {
    width: 72px;
  }

  .weatherHourlyCard {
    border-radius: 16px;
    background: #cdcdcd;
    padding: 22px 0;
  }

  .weatherGrapsTitleContainer {
    font-size: 32px;
    width: 20%;
  }

  .weatherGrapsButtonContainer {
    background-color: #626060;
    border-radius: 20px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .weatherGraphsButton {
    font-size: 24px;
    padding: 8px 4px;
  }

  .forecastTitleContainer {
    font-size: 32px;
  }

  .forecastTitleDays {
    font-size: 16px;
  }

  .forecastWeatherImg {
    width: 64px;
  }
  .forecastWeatherMaxTemp {
    font-size: 24px;
  }

  .forecastWeatherMinTemp {
    font-size: 16px;
  }

  .forecastWeatherDate {
    font-size: 16px;
  }

  .add-city-card {
    font-size: 24px;
    height: 180px;
    width: 138px;
    margin-left: 0;
    margin-right: 26px;
  }

  .plus-icon {
    font-size: 24px;
    border-radius: 64px;
    padding: 4px 8px;
  }

  .city-card {
    align-self: flex-start;
    height: 160px;
    width: 120px;
    padding: 12px;
    margin-bottom: 12px;
  }

  .cityWeatherName {
    font-size: 24px;
  }

  .cityWeatherDegree {
    font-size: 16px;
  }

  .cityWeatherIconImg {
    width: 72px;
  }

  .citySlider {
    margin-bottom: 12px;
  }

  .removeBtn {
    margin-top: 6px;
    width: 12px;
    height: 12px;
  }
}
